body {
  background-color: black;
  color: #cccccc;
}

#left {
  background-color: black;
  text-align: left;
  width: 60vw;
  height: auto;
  padding-left: 50px;
  background-repeat: repeat-y;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  background: white;
}

#right {
  background-color: black;
  color: white;
  text-align: left;
  width: 40vw;
  position: fixed;
  right: 0;
  height: 100vh;
  padding: 0px 90px 50px 40px;
  overflow: auto;
}

.navbar-heading {
    padding: 10px;
}

.uc {
  text-transform: uppercase;
}

.items-info {
  margin-top: 20px;
  padding-right: 50px;
}

.brand-logo {
  opacity: 0.7;
  width: 200px;
  background: green;
  border-radius: 20px;
}

.row {
  margin-top: 145px;
}

.featured {
  margin-right: 200px;
  border: 1px solid #b7b7b7;
  padding: 12px;
}

.item-main {
  margin-top: 15px;
  font-size: 53px;
  line-height: 54px;
}

.item-description {
  margin-top: 20px;
  padding-right: 50px;
}

.signin {
   margin-top: 200px;
}

.signin-description {
  font-size: 39px;
  line-height: 50px;
}
