body {
  background-color: black;
  color: #cccccc;
}

#left {
  background-color: black;
  width: 60vw;
  height: auto;
  padding-left: 50px;
  background-repeat: repeat-y;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
}

#right {
  background-color: black;
  color: white;
  width: 40vw;
  position: fixed;
  right: 0;
  height: 100vh;
  padding: 0px 90px 50px 40px;
  overflow: auto;
}

.navbar-heading {
    padding: 10px;
}

.uc {
  text-transform: uppercase;
}

.items-info {
  margin-top: 20px;
  padding-right: 50px;
}

.brand-logo {
  opacity: 0.7;
  width: 200px;
  background: green;
  border-radius: 20px;
}


.featured {
  margin-right: 200px;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  padding: 12px;
  margin-top: 145px;
}

.item-main {
  margin-top: 15px;
  font-size: 53px;
  line-height: 54px;
  text-align: left;
}

.item-description {
  margin-top: 20px;
  padding-right: 50px;
  text-align: justify;
}

.item-img {
  margin-top: 145px;
}


.signin-description {
  font-size: 39px;
  line-height: 50px;
  margin-top: 200px;
}

.button {
  margin-top: 20px;
}
.form-group {
  margin: 0;
}

.other-mission {
  margin-top: 250px;
  padding-left: 30px;
}

.missions {
  padding: 20px;
}

.other-mission-title {
  margin-top: 10px;
  font-size: 41px;
  line-height: 44px;
  padding-right: 100px;
}

.mission-item {
  margin: 50px 0px;
}

.mission-img {
  padding: 0px;
}

.mission-description {
  margin-left: -15px;
}

.mis-img {
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.mission-box {
  margin: 25px 0;
}

.other-mis-title {
  padding-right: 50px;
  font-size: 28px;
  line-height: 34px;
}

.other-mis-desc {
  padding-right: 80px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 1rem;
  text-align: justify;
}
